{% extends 'pages/subcategorey.html' %}

{% load static %}

{% block content %}
<div>
    <label for="state">State:</label>
    <h3 id="state">{{state}}</h3>
    <label for="categorey">categorey:</label>
    <h4 id="categorey">{{cat}}</h4>
    <label for="sub-categorey">Sub Categorey:</label>
    <h5 id="sub-categorey">{{sub}}</h5>

    <div class="job-div">
        {% if jobs %}
            {% for job in jobs %}
                <div class="job-info">
                    <h4>{{job}}</h4>
                    <p>{{job.company}}</p>
                    <p>{{job.location}}</p>
                    <p>{{job.job_sub_categorey}}</p>
                </div>
            {% endfor %}
        {% else %}
            <h3>No data available.....</h3>
        {% endif %}
    </div>
</div>
{% endblock %}