{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
   
    <h4>Search: {{query}}</h4>

    {% if state or cat or sub_cat or job %}
    <div>
        <div>
            <h5>{{state}}</h5>
        </div>

        <div class="categories">
            {% for i in cat %}
            <h4>{{i}}</h4>
            {% endfor %}
        </div>

        <div class="sub-categories">
            {% for i in sub_cat %}
            <h4>{{i}}</h4>
            {% endfor %}
        </div>
    
        <div class="job-details">
            <label for="">JOB Detaits:</label>
            {% for i in job %}
            <h3>{{i}}</h3>
            <p>{{i.company}}</p>
            <p>{{i.job_sub_categorey}}</p>
            <p>{{i.location}}</p>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div>
            <h3>No search result Found:</h3>
        </div>
    {% endif %}

</div>
{% endblock %}